
<table> 
    <tr>
      <td><b>Tipo de Cliente:</b></td>
      <td><b>Cpf / Cnpj:</b>></td>
      <td><label for="cnpj">CNPJ: </label></td>
    </tr>

    <tr>
      <td><%=h @cliente.tipo_cliente == "F" ? "Pessoa Física" : "Pessoa Jurídica" %> -</td  >
      <td><%=h @cliente.cpf.blank? ? @cliente.cnpj : @cliente.cpf %>
    <%=h @cliente.cnpj.blank? ? @cliente.cpf : @cliente.cnpj %>
     - <b>Status:</b>  <%=h @cliente.status == 'A' ? 'Ativo' : 'Inativo' %></td>
    </tr>
    <tr>
      <td><b>Razao Social:</td>
      <td><b>Nome de Fantasia:</b></td>
      <td><b>RG / Inscrição Estadual:</b></td>
    </tr>
    <tr>
      <td><%=h @cliente.razao_social %></td>
      <td><%=h @cliente.nome_fantasia %></td>
      td><%=h @cliente.documento %></td>
    </tr>
    <tr>
      <td><b>Endereco:</b></td>
      <td><b>Cidade:</b></td>
      <td><b>Bairro / CEP:</b></td>
    </tr>
    <tr>
      <td><%=h @cliente.endereco %> <%=h @cliente.complemento %></td>
      <td><%if @cliente.cidade.nil? then %>
     <td>Cidade Desconhecida</td>
        <% else %>
     <td><%=h @cliente.cidade.descricao + ' / ' + @cliente.uf %></td>
        <% end %>, <%=h @cliente.referencia %></td>
     <td><%=h @cliente.bairro + ' / ' + @cliente.cep %></td>
    </tr>
    
</table>  
<table>
    <tr>
      <td><b>Endereco de Entrega:</b></td>
      <td><b>Regiao de Entrega:</b></td>
      <td><b>Cidade de Entrega:</b></td>
      <td><b>Area:</b></td>
    </tr>
    <tr>
      <td><%=h @cliente.endereco_entrega %></td>
      <td><%=h @cliente.regiao_entrega_id %></td>
      <td><%#=h @cliente.cidade_entrega_id %></td>
      <td><%#=h @cliente.area_id %></td>
    </tr>
</table>
<table>
   <tr>
      <td><b>Referencias Bancarias:</b></td>
      <td><b>Referencias Comerciais:</b></td>
   </tr>
   <tr>
      <td><%=h @cliente.referencias_bancaria %></td>
      <td><%=h @cliente.referencias_comerciais %></td>
   </tr>
    <tr>
      <td><b>Observacao:</b></td>
      <td><b>Informações Serasa:</b></td>
    </tr>
    <tr>
      <td><%=h @cliente.observacao %></td>
      <td><%=h @cliente.info_serasa %></td>
    </tr>
</table>
<tabe>
    <tr>
      <td><b>Data Nascimento:</b></td>
      <td><b>Nome comprador:</b></td>
      <td><b>Vendas suspensas:</b></td>
    </tr>
    <tr>    
      <td><%=h @cliente.data_nascimento.to_s_br %></td>
      <td><%=h @cliente.nome_comprador %></td>
      <td><%=h @cliente.vendas_suspensas == false ? "Não" : "Sim" %></td>
    </tr>
</table>
<table>
    <tr>
      <td><b>Observacao suspensao venda:</b></td>
    </tr>
    <tr>
      <td><%=h @cliente.observacao_suspensao_venda %></td>
    </tr>
</table>
<table>
  <tr>
    <td><b>Limite credito:</b></td>
    <td><b>Saldo devedor:</b></td>
  </tr>
  <tr>
  
    <td><%=h @cliente.limite_credito.real.real_formatado %></td>
    <td><%=h @cliente.saldo_devedor.real.real_formatado %></td>
  </tr>
</table>


<%= link_to 'Alterar', edit_cliente_path(@cliente) %> |
<%= link_to 'Retornar', clientes_path %>
