<% form_for(@pedido_de_assistencia, :html => {:name=>'form_pedidos', :id=>'form_pedidos'}) do |f| %>
  <%= f.error_messages %>

<table>
	<tr>
    <td><%= f.label :tipo %></td>

    <td><%= f.label :cliente %></td>

    <td><%= f.label :nosso_numero %></td>

    <td><%= f.label :data, 'Data do pedido' %></td>

    <td><%= f.label :previsao_entrega, 'Previsão de entrega' %></td>

    <td><%= f.label :entrega %></td>

    <td><%= f.label :programacao %></td>
	</tr>
	<tr>
    <td><%= f.select :tipo,[['Interno','I'],['Externo','E']] %></td>

    <% if Cliente.count > 0 %>
      <td><%= f.select :cliente_id, Cliente.all.collect { |c| [c.nome_fantasia,c.id] }, :prompt => "" %></td>
    <% else %>
       <td><b> Nenhum cliente cadastrado.</b></td>
    <% end %>
    <%#= f.select :cliente_id, :size => 5 %>
    <%#= text_field_tag 'nome_cliente', @pedido_de_assistencia.cliente.razao_social, :disabled => true %>

    <td><%= f.text_field :nosso_numero, :size => 10 %></td>

    <td><%= f.text_field :data, :size => 10 %></td>

    <td><%= f.text_field :previsao_entrega, :size => 10  %></td>

    <td><%= f.text_field :entrega, :size => 10  %></td>

    <td><%= f.text_field :programacao, :size => 10  %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :plano_de_pagamento %></td>

    <td><%= f.label :vendedor %></td>

    <td><td><%= f.label :valor %></td></td>
	</tr>
	<tr>
    <td><%= f.text_field :plano_de_pagamento %></td>

    <td><%= f.text_field :vendedor_id %></td>
    <% if Funcionario.count > 0 %>
      <td><%= f.select :vendedor_id, Funcionario.all.collect { |c| [c.nome,c.id] }, :prompt => "" %></td>
    <% else %>
       <td><b> Nenhum vendedor cadastrado.</b></td>
    <% end %>
    <%#= f.text_field :vendedor_id, :size => 5 %>
    <%#= text_field_tag 'nome', @pedido_de_assistencia.funcionario.nome, :disabled => true %>

    <td><%= f.text_field :valor, :size => 10 %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :transportadora %></td>

    <td><%= f.label :comprador %></td>
	</tr>
	<tr>
    <% if Transportadora.count > 0 %>
      <td><%= f.select :transportadora_id, Transportadora.all.collect { |c| [c.razao_social,c.id] }, :prompt => "" %></td>
    <% else %>
       <td><b> Nenhuma transportadora cadastrada.</b></td>
    <% end %>

    <td><%= f.text_field :nome_comprador %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :endereco_entrega %></td>

    <td><%= f.label :minuta_id %></td>

    <td><%= f.label :area_id %></td>

    <td><%= f.label :telemarketing_id %></td>
	</tr>
	<tr>
    <td><%= f.text_field :endereco_entrega %></td>

    <td><%= f.text_field :minuta_id %></td>

    <td><%= f.text_field :area_id, :size => 5 %></td>
    <%#= text_field_tag 'descricao', @pedido_de_assistencia.area.descricao, :disabled => true %>

    <td><%= f.text_field :telemarketing_id, :size => 5 %></td>
    <%#= text_field_tag 'nome', @pedido_de_assistencia.funcionario.nome, :disabled => true %>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :registro %></td>

    <td><%= f.label :empresa_id %></td>

    <td><%= f.label :status %></td>
	</tr>
	<tr>
    <td><%= f.text_field :registro, :size => 10 %></td>

    <td><%= f.text_field :empresa_id %></td>

    <td><%= f.text_field :status %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :status_estorno %></td>

    <td><%= f.label :operador_estorno_id %></td>

    <td><%= f.label :venda_externa %></td>

    <td><%= f.label :autorizador %></td>
	</tr>
	<tr>
    <td><%= f.text_field :status_estorno %></td>

    <td><%= f.text_field :operador_estorno_id, :size => 5 %></td>

    <%#= text_field_tag 'nome', @pedido_de_assistencia.funcionario.nome , :disabled => true %>

    <td><%= f.select :venda_externa,[['Sim','S'],['Não','N']] %></td>

    <% if Funcionario.count > 0 %>
      <td><%= f.select :autorizador_id, Funcionario.all.collect { |c| [c.nome,c.id] }, :prompt => "" %></td>
    <% else %>
       <td><b> Nenhum funcionário cadastrado.</b></td>
    <% end %>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :observacao %></td>
	</tr>
	<tr>
    <td><%= f.text_area :observacao %></td>
	</tr>
</table>

  <p>
	  <%= f.submit 'Salvar' %>
  </p>
<% end %>

