<table>
	<tr>
    <td><%= f.label :numero_nota, 'Número da nota' %></td>

    <td><%= f.label :selo, 'Selo' %></td>

    <td><%= f.label :serie, 'Serie' %></td>

    <td><%= f.label :cliente %></td>
	</tr>
	<tr>
    <td><%= f.text_field :numero_nota, :size => 25 %></td>

    <td><%= f.text_field :selo, :size => 25 %></td>

    <td><%= f.text_field :serie, :size => 25 %></td>

    <% if Cliente.count > 0 %>
      <td><%= f.select :cliente_id, Cliente.all.collect { |c| [c.nome_fantasia,c.id] }, :prompt => "" %></td>
    <% else %>
       <td><b> Nenhum cliente cadastrado.</b></td>
    <% end %>
    <td><%#= f.select :cliente_id, :size => 5 %></td>
    <td><%#= text_field_tag 'nome_cliente', @pedido.cliente.razao_social, :disabled => true %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :percentual_icms, 'Percentual do icms' %></td>

    <td><%= f.label :emissao, 'Data de emissão' %></td>
    <td><%= f.label :total_mercadoria, 'Total da mercadoria' %></td>

    <td><%= f.label :valor_frete, 'Valor do frete' %></td>
	</tr>
	<tr>
    <td><%= f.text_field :percentual_icms, :size => 25 %></td>

    <td><%= f.text_field :emissao, :size => 25 %></td>

    <td><%= f.text_field :total_mercadoria, :size => 25 %></td>

    <td><%= f.text_field :valor_frete, :size => 25 %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :cfop, 'Cfop' %></td>

    <td><%= f.label :natureza_operacao, 'Natureza da operação' %></td>

    <td><%= f.label :valor_ipi, 'Valor do ipi' %></td>

    <td><%= f.label :valor_desconto, 'Valor do desconto' %></td>
	</tr>
	<tr>
    <td><%= f.text_field :cfop, :size => 25 %></td>
 
    <td><%= f.text_field :natureza_operacao, :size => 25 %></td>

    <td><%= f.text_field :valor_ipi, :size => 25 %></td>

    <td><%= f.text_field :valor_desconto, :size => 25 %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :total_nota, 'Total da nota' %></td>

    <td><%= f.label :status, 'Status' %></td>

    <td><%= f.label :base_calculo_icms, 'Base de cálculo icms' %></td>

    <td><%= f.label :valor_icms, 'Valor do icms' %></td>
	</tr>
	<tr>
    <td><%= f.text_field :total_nota, :size => 25 %></td>

    <td><%= f.text_field :status, :size => 25 %></td>
    <!-- <%= f.select :status,[['Impressa','S'],['Não Impressa','N']] %> -->

    <td><%= f.text_field :base_calculo_icms, :size => 25 %></td>

    <td><%= f.text_field :valor_icms, :size => 25 %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :qtde_volumes, 'Quantidade de volumes' %></td>

   	<td><%= f.label :entrada, 'Data de entrada' %></td>

    <td><%= f.label :saida, 'Data de saída' %></td>

    <td><%= f.label :transportadora_id, 'Transportadora' %></td>
	</tr>
	<tr>
    <td><%= f.text_field :qtde_volumes, :size => 25 %></td>

    <td><%= f.calendar_date_select :entrada, :size => 20 %></td>

    <td><%= f.calendar_date_select :saida, :size => 20 %></td>

    <td><%= f.text_field :transportadora_id, :size => 30 %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :percentual_desconto, 'Percentual de desconto' %></td>

    <td><%= f.label :base_calculo_icms_substituicao_tributaria, 'Base de cálculo icms substituição tributária' %></td>
	</tr>
	<tr>
    <td><%= f.text_field :percentual_desconto, :size => 25 %></td>

    <td><%= f.text_field :base_calculo_icms_substituicao_tributaria, :size => 25 %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :percentual_icms_substituicao_tributaria, 'Percentual do icms substituição tributária' %></td>

    <td><%= f.label :valor_icms_substituicao_tributaria, 'Valor do icms substituição tributária' %></td>
	</tr>
	<tr>
    <td><%= f.text_field :percentual_icms_substituicao_tributaria, :size => 32 %></td>

    <td><%= f.text_field :valor_icms_substituicao_tributaria, :size => 32 %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :observacao, 'Observação' %></td>
	</tr>
	<tr>
    <td><%= f.text_area :observacao, :cols => 77, :rows => 20 %></td>
	</tr>
</table>
