<% form_for(@pedido, :html => {:name=>'form_pedidos', :id=>'form_pedidos'}) do |f| %>
  <%= f.error_messages %>
<table>
	<tr>
		<td><%= f.label :tipo %></td>

    <td><%= f.label :cliente %></td>

    <td><%#= f.select :cliente_id, :size => 5 %></td>

  	<td><%= f.label :nosso_numero %></td>

    <td><%= f.label :data, 'Data do pedido' %></td>

    <td><%= f.label :previsao_entrega, 'Previsão de entrega' %></td>
	</tr>
	<tr>
   	<td><%= f.select :tipo,[['Interno','I'],['Externo','E']] %></td>

    <% if Cliente.count > 0 %>
      <td><%= f.select :cliente_id, Cliente.all.collect { |c| [c.nome_fantasia,c.id] }, :prompt => "" %></td>
    <% else %>
       <td><b> Nenhum cliente cadastrado.</b></td>
    <% end %>

    <td><%#= text_field_tag 'nome_cliente', @pedido.cliente.razao_social, :disabled => true %></td>

    <td><%= f.text_field :nosso_numero, :size => 10 %></td>

    <td><%= f.text_field :data, :size => 10 %></td>

    <td><%= f.text_field :previsao_entrega, :size => 10  %></td>
	</tr>
</table>

<table>
	<tr>
    <td><%= f.label :entrega %></td>

    <td><%= f.label :programacao %></td>

    <td><%= f.label :plano_de_pagamento %></td>

   <td><%= f.label :vendedor %></td>
	</tr>
	<tr>
    <td><%= f.text_field :entrega, :size => 10  %></td>

    <td><%= f.text_field :programacao, :size => 10  %></td>

    <td><%= f.text_field :plano_de_pagamento %></td>

     <td><%= f.text_field :vendedor_id %></td>
    <% if Funcionario.count > 0 %>
      <td><%= f.select :vendedor_id, Funcionario.all.collect { |c| [c.nome,c.id] }, :prompt => "" %></td>
    <% else %>
       <td><b> Nenhum vendedor cadastrado.</b></td>
    <% end %>

    <td><%#= f.text_field :vendedor_id, :size => 5 %></td>
    <td><%#= text_field_tag 'nome', @pedido.funcionario.nome, :disabled => true %></td>
	</tr>
</table>
<table>
	<tr>
    <td><%= f.label :valor %></td>

    <td><%= f.label :acrescimo %></td>

    <td><%= f.label :transportadora %></td>

    <td><%= f.label :comprador %><br /></td>
	</tr>
	<tr>
    <td><%= f.text_field :valor, :size => 10 %></td>

    <td><%= f.text_field :acrescimo, :size => 5 %></td>

    <% if Transportadora.count > 0 %>
      <td><%= f.select :transportadora_id, Transportadora.all.collect { |c| [c.razao_social,c.id] }, :prompt => "" %></td>
    <% else %>
       <td><b> Nenhuma transportadora cadastrada.</b></td>
    <% end %>

    <td><%= f.text_field :nome_comprador %></td>
	</tr>
<table>
</table>
	<tr>
    <td><%= f.label :observacao %><br /></td>
    <td><%= f.text_area :observacao %></td>
	</tr>
</table>
<table>
	<tr>
    <td><%= f.label :endereco_entrega %></td>

    <td><%= f.label :minuta_id %></td>

    <td><%= f.label :area_id %></td>

    <td><%= f.label :telemarketing_id %></td>

    <td><%= f.label :registro %></td>
	</tr>
	<tr>
    <td><%= f.text_field :endereco_entrega %></td>

    <td><%= f.text_field :minuta_id %></td>

    <td><%= f.text_field :area_id, :size => 5 %></td>
    <td><%#= text_field_tag 'descricao', @pedido.area.descricao, :disabled => true %></td>

    <td><%= f.text_field :telemarketing_id, :size => 5 %></td>
    <td><%#= text_field_tag 'nome', @pedido.funcionario.nome, :disabled => true %></td>

    <td><%= f.text_field :registro, :size => 10 %></td>
	</tr>
</table>
<table>
	<tr>
    <td><%= f.label :empresa_id %></td>		

    <td><%= f.label :status %><br /></td>

    <td><%= f.label :status_estorno %><br /></td>

    <td><%= f.label :operador_estorno_id %><br /></td>
	</tr>
	<tr>
    <td><%= f.text_field :empresa_id %></td>

    <td><%= f.text_field :status %></td>

    <td><%= f.text_field :status_estorno %></td>

    <td><%= f.text_field :operador_estorno_id, :size => 5 %></td>

    <td><%#= text_field_tag 'nome', @pedido.funcionario.nome , :disabled => true %></td>
	</tr>
</table>
<table>
	<tr>
    <td><%= f.label :venda_externa %><br /></td>

    <td><%= f.label :desconto_complementar %><br /></td>

    <td><%= f.label :autorizador %><br /></td>		
	</tr>
	<tr>
    <td><%= f.select :venda_externa,[['Sim','S'],['Não','N']] %></td>

    <td><%= f.text_field :desconto_complementar %></td>

    <% if Funcionario.count > 0 %>
      <td><%= f.select :autorizador_id, Funcionario.all.collect { |c| [c.nome,c.id] }, :prompt => "" %></td>
    <% else %>
       <td><b> Nenhum funcionário cadastrado.</b></td>
    <% end %>
	</tr>
</table>

  <p>
  <%= f.submit 'Salvar' %>
  </p>
<% end %>

